/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.logo {
    width: 500px;  /* Aumenta o tamanho do logo */
    height: auto;
}

/* Estilos da divisão de pedidos */
.content {
    margin-left: -800px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    padding: 10px;
    margin-top: -200px;
    gap: 20px; /* Controla o espaçamento entre as colunas */
}

.orders-column {
    width: auto;
    text-align: left;
}

/* Estilo do título "Em Preparo" */
#preparingOrders h2 {
    font-size: 100px;  /* Tamanho grande para ser visível em TV */
    color: white;
    background-color: #b6b1b1;
    padding: 20px;
    margin: 0;
    width: 700px;  /* Aumenta a largura do retângulo */
    border-radius: 5px;
}

/* Estilo do título "Pronto" */
#readyOrders h2 {
    font-size: 100px;  /* Tamanho grande para ser visível em TV */
    color: white;
    background-color: #4caf50;
    padding: 20px;
    margin: 0;
    border-radius: 5px;
    width: 700px;  /* Aumenta a largura do retângulo */
    text-align: center;  /* Centraliza o texto dentro do retângulo */
}

/* Estilo para pedidos */
.order {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 2.5em;  /* Tamanho grande para os números dos pedidos */
    color: #333;
    margin: 30px 0;
    text-align: left;
}

.order p {
    margin: 5px 0;
    font-size: 200px;  /* Tamanho grande para exibição em TV */
    color: #000000;
}
